@use './../../_styles/block';

.hint-container {
  display: none;
  position: absolute;
  left: 0;
  bottom: calc(100% + 5px);
  width: 360px;
  padding: 10px 15px 10px 15px;
  border: 1px solid block.$color;
  border-radius: 10px;
  background: block.$background;
  animation: hintContainerAppear .2s .5s both;
  user-select: none;
}

.hint-container.definitions {
  width: 360px;
  padding-bottom: 15px;
}

.hint-container.values {
  width: 250px;
}

.hint-container:hover {
  display: none !important;
}

@keyframes hintContainerAppear {
  0% {opacity: 0; bottom: calc(100% + 2px);}
  100% {opacity: 1; bottom: calc(100% + 5px);}
}

.data-section:nth-of-type(2) .hint-container {
  left: -50%;
}

.data-section:nth-of-type(3) .hint-container {
  left: unset;
  right: 0;
}

.hint-container p {
  margin-bottom: 5px;
  line-height: 1.4em;
}

.hint-container p:last-of-type {
  margin-bottom: 0;
}

.hint-container strong {
  color: block.$color-accent;
  font-weight: 600;
  letter-spacing: .04em;
}

.hint-container.definitions .hint-item {
  margin-bottom: 10px;
}

.hint-container.definitions .hint-item:last-of-type {
  margin-bottom: 0;
}

.hint-container.values .hint-item {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted block.$color;
}

.hint-container.values .hint-item:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}