@use './../../shared';

.celestial-object-container {
  @include shared.shadow;
  @include shared.header-bottom-line;
  @include shared.chevron(30px, 22px);
  margin: 15px;
  border-radius: 10px;
  overflow-x: hidden;
  &:only-child {
    margin: 0;
    box-shadow: none;
  }
  &-header {
    position: relative;
    display: flex;
    padding: 15px 25px;
    cursor: pointer;
    & h3 {
      font-size: 22px;
      font-weight: 400;
      letter-spacing: .03em;
    }
  }
  &:only-child &-header {
    display: none;
  }
  &-body {
    padding: 15px;
    animation: fadeIn .4s;
  }
  &.collapsed &-body {
    display: none;
  }
}

.celestial-object-info {
  display: flex;
  align-items: flex-start;
  .celestial-object-description {
    padding: 0 15px 0 5px;
    & p {
      margin: 10px 0;
      font-size: 16px;
      letter-spacing: .02em;
      line-height: 1.5em;   
      &:first-of-type {
        margin-top: 0;
      } 
    }
  }
  .celestial-object-image {
    @include shared.shadow;
    @include shared.dots;
    padding: 5px;
    border-radius: 10px;
    user-select: none;
    & img {
      display: block;
      width: 450px;
      height: 450px;
      border-radius: 10px;
    }
  }
}
