@use './../../shared';

.celestial-object-container {
  @include shared.shadow;
  @include shared.header-bottom-line;
  @include shared.chevron(30px, 22px);
  margin: 15px;
  border-radius: 10px;
  overflow-x: hidden;
  &:only-child {
    margin: 0;
    box-shadow: none;
  }
  & & {
    margin: 15px 0;
    &:last-of-type {
      margin-bottom: 0;
    }
    @include shared.mobile {
      & {
        margin: 10px 0;
      }
    }
  }
  @include shared.mobile {
    margin: 10px;
    @include shared.chevron(26px, 18px);
  }
  &-header {
    position: relative;
    display: flex;
    padding: 15px 25px;
    @include shared.mobile {
      padding: 10px 15px;
    }
    cursor: pointer;
    & h3 {
      font-size: 22px;
      font-weight: 400;
      letter-spacing: .03em;
      @include shared.mobile {
        font-size: 20px;
      }
    }
  }
  &:only-child > &-header {
    display: none;
  }
  &-body {
    padding: 15px;
    animation: fadeIn .4s;
    @include shared.mobile {
      padding: 10px;
    }
  }
  &.collapsed &-body {
    display: none;
  }
}

.celestial-object-info {
  display: flex;
  align-items: flex-start;
  @include shared.tablet {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .celestial-object-description {
    flex-grow: 1;
    padding: 0 15px 0 5px;
    @include shared.tablet {
      padding: 10px 5px;
    }
    @include shared.mobile {
      padding: 15px 5px 5px 5px;
    }
    & p {
      margin-bottom: 10px;
      font-size: 16px;
      letter-spacing: .02em;
      line-height: 1.5em;   
      &:last-of-type {
        margin-bottom: 0;
      }
      @include shared.mobile {
        font-size: 14px;
        margin-bottom: 7px;
      }
    }
  }
  .celestial-object-image {
    @include shared.shadow;
    @include shared.dots;
    padding: 5px;
    border-radius: 10px;
    user-select: none;
    @include shared.tablet {
      margin: 0 auto;
    }
    @include shared.mobile {
      padding: 1px;
    }
    & img {
      display: block;
      width: 450px;
      height: 450px;
      border-radius: 10px;
      @include shared.mobile {
        width: 244px !important;
        height: 244px !important;
      }
    }
    &.notable-object img {
      width: 350px;
      height: 350px;
    }
  }
}
