@use './../../_styles/block';

.celestial-object-container {
  margin: 5px;
  padding: 5px;
  // @include block.shadow;
}

.celestial-object-container:only-child {
  box-shadow: none;
}

.celestial-object-container:only-child .celestial-object-container-header {
  display: none;
}

.celestial-object-info {
  display: flex;
}

.celestial-object-description {
  padding: 5px;
}

.celestial-object-description p {
  margin: 10px 0;
  font-size: 16px;
  letter-spacing: .02em;
  line-height: 1.5em;
}

.celestial-object-image {
  width: 450px;
  height: 450px;
  // border: 1px solid block.$color;
}