@use 'sass:color';

$base: hsl(200, 60%, 50%);
$accent: hsl(180, 60%, 50%);

$text-normal: color.adjust($base, $lightness: 15%);
$text-accent: color.adjust($accent, $lightness: 5%);
$text-selection: color.adjust($accent, $lightness: 30%);

$border-normal: color.adjust($base, $lightness: 15%, $alpha: -0.4);
$border-darker: color.adjust($base, $lightness: 15%, $alpha: -0.6);

$background: color.adjust($base, $lightness: -42%, $alpha: -0.05);
$background-darker: color.adjust($base, $lightness: -45%, $alpha: -0.1);
$background-hovered: color.adjust($base, $lightness: -37%);
$background-accent: color.adjust($accent, $lightness: -45%, $alpha: -0.1);
$background-selection: color.adjust($base, $lightness: -5%, $alpha: -0.6);