@font-face {
  font-family: 'Exo 2';
  src: url('../../public/assets/fonts/exo-2.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Jura';
  src: url('../../public/assets/fonts/jura.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}