@use 'colors' as *;

@mixin hover {
  @media (hover: hover) { 
    &:hover { 
      @content;
    }
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin border($thickness: 1px, $color: $border-normal) {
  border: $thickness solid $color;
}

@mixin border-bottom-dotted($color: $border-normal) {
	border-bottom: 1px dotted $color;
  &:last-of-type {
    border-bottom: none;
  }
}

@mixin shadow($color: $border-normal) {
  box-shadow: 0 0 4px 0 $color inset;
}

@mixin shadow-bottom($color: $border-darker) {
  box-shadow: 0 -5px 4px -4px $color inset;
}

@mixin dots($dot-color: $border-normal, $dot-bg: $background-darker, $dot-size: 1px, $dot-space: 22px) {
  background:
		linear-gradient(90deg, $dot-bg calc($dot-space - $dot-size), transparent 1%) center / $dot-space $dot-space,
		linear-gradient($dot-bg calc($dot-space - $dot-size), transparent 1%) center / $dot-space $dot-space,
		$dot-color;
}

@mixin chevron($size, $font-size) {
  & > * > .section-chevron {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding-bottom: 3px;
    font-size: $font-size;
    font-weight: 400;
    user-select: none;
    transition: .2s;
    transform: rotateZ(90deg);
    @include square($size);
  }
  &.collapsed .section-chevron {
    transform: rotateZ(270deg);
  }
}