$color: hsla(200, 60%, 65%, .6);
$color-darker: hsla(200, 60%, 65%, .4);
$background: hsla(200, 60%, 8%, .95);
$background-darker: hsla(200, 60%, 5%, .9);

$dot-bg: $background-darker;
$dot-color: $color;
$dot-size: 1px;
$dot-space: 22px;

@mixin dots {
  background:
		linear-gradient(90deg, $dot-bg calc($dot-space - $dot-size), transparent 1%) center / $dot-space $dot-space,
		linear-gradient($dot-bg calc($dot-space - $dot-size), transparent 1%) center / $dot-space $dot-space,
		$dot-color;
}

@mixin shadow {
  box-shadow: 0 0 4px 0 $color inset;
}

@mixin border {
	border: 1px solid $color;
}

@mixin line {
	content: '';
	position: absolute;
	left: -10px;
	bottom: 8px;
	width: calc(100% + 20px);
	height: 1px;
	background: linear-gradient(90deg, transparent 0%, $color-darker 100px, $color-darker calc(100% - 100px), transparent 100%);
	transition: .3s;
}
