@use './../../_styles/block';

.data-container {
  display: flex;
  margin-top: 15px;
  cursor: default;
}

.data-section {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-right: 10px;
  border-radius: 10px;
  @include block.shadow;
}

.data-section:last-of-type {
  margin-right: 0;
}

.data-container.planet .data-section:nth-of-type(1) {
  flex-basis: 27%;
}

.data-container.planet .data-section:nth-of-type(2) {
  flex-basis: 33%;
}

.data-section-header {
  padding: 10px 15px;
  border-radius: 10px 10px 0 0;
  font-size: 18px;
  @include block.shadow-bottom;
}

.data-section-body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 16px;
  letter-spacing: .015em;
}

.data-section-group {
  display: flex;
  @include block.border-dotted;
}

.data-section-group-name {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  padding: 5px;
}

.data-container.star .data-section:nth-of-type(2) .data-section-group-name {
  flex-basis: 35%;
}

.data-container.planet .data-section:nth-of-type(2) .data-section-group-name {
  flex-basis: 25%;
}

.data-section-group-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.data-section-row {
  display: flex;
  flex-grow: 1;
  padding: 5px;
  @include block.border-dotted;
}

.data-section-group:last-of-type,
.data-section-row:last-of-type {
  border-bottom: none;
}

.data-prop-name {
  display: flex;
  flex-basis: 50%;
  padding: 0 2px 2px 2px;
  border-radius: 4px;
  cursor: help;
}

.data-container.star .data-section:nth-of-type(2) .data-prop-name {
  flex-basis: 30%;
}

@media (hover: hover) {
  .data-prop-name:hover {
    background: block.$background-hovered;
  }
}