@use './../../shared';

.data-container {
  display: flex;
  margin-top: 15px;
  cursor: default;
  @include shared.tablet {
    flex-wrap: wrap;
  }
}

.data-section {
  @include shared.shadow;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-right: 10px;
  border-radius: 10px;
  &:last-of-type {
    margin-right: 0;
  }
  @include shared.tablet {
    flex-basis: 100% !important;
    margin-right: 0;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &-header {
    @include shared.shadow-bottom;
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
    font-size: 18px;
    font-variant: small-caps;
    letter-spacing: .04em;
    @include shared.mobile {
      font-size: 16px;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 16px;
    letter-spacing: .015em;
    @include shared.mobile {
      font-size: 14px;
    }
  }
}

.data-container.planet .data-section:nth-of-type(1) {
  flex-basis: 27%;
}

.data-container.planet .data-section:nth-of-type(2) {
  flex-basis: 33%;
}

.data-section-group {
  @include shared.border-bottom-dotted;
  display: flex;
  @include shared.mobile {
    flex-direction: column;
  }
  &-name {
    display: flex;
    align-items: center;
    flex-basis: 30%;
    padding: 5px;
  }
  &-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    @include shared.mobile {
      margin-left: 10px;
      &:only-child {
        margin-left: 0;
      }
    }
  }
}

.data-container.star .data-section:nth-of-type(2) .data-section-group-name {
  flex-basis: 35%;
}

.data-container.planet .data-section:nth-of-type(2) .data-section-group-name {
  flex-basis: 25%;
}

.data-section-row {
  @include shared.border-bottom-dotted;
  display: flex;
  flex-grow: 1;
  padding: 5px 0;
}

@mixin hint-on-hover {
  position: relative;
  padding: 0 5px 2px 5px;
  border-radius: 4px;
  transition: .1s;
  @include shared.hover {
    &:hover {
      background: shared.$background-hovered;
      & .hint-container {
        display: block;
      }
    }
  }
  @include shared.mobile {
    @include shared.hover {
      &:hover {
        background: initial;
        & .hint-container {
          display: none;
        }
      }
    }
  }
}

.data-prop-name {
  @include hint-on-hover;
  display: flex;
  flex-basis: 50%;
  align-items: center;
}

.data-container.star .data-section:nth-of-type(2) .data-prop-name {
  flex-basis: 30%;
}

.data-container.planet .data-section:nth-of-type(1) .data-prop-name {
  flex-basis: 40%;
}

.data-value {
  @include hint-on-hover;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
