@use './../../shared' as *;

.data-value-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: baseline;
  white-space: nowrap;
  &-value {
    margin-right: 10px;
    color: $color-accent;
    font-size: 16px;
    letter-spacing: .03em;
    @include mobile {
      margin-right: 7px;
      font-size: 14px;
    }
    &.no-space {
      margin-right: 2px;
    }
  }
}
