@use '../../_styles/block';

$section-margin: 10px;

.page-section {
  display: flex;
  flex-direction: column;
  width: min(100% - 2 * $section-margin, 1200px);
  margin: $section-margin;
  border-radius: 10px;
  background: block.$background;
  transition: .5s;
  overflow-x: hidden;
  @include block.shadow;
}

.page-section-header {
  position: relative;
  display: flex;
  padding: 15px 20px 15px 30px;
  cursor: pointer;
  &::after {
    @include block.line;
  }
}

.page-section.collapsed .page-section-header::after {
  left: 50%;
  width: 0;
}

.page-section-header h2 {
  font-size: 26px;
  font-weight: 400;
  letter-spacing: .04em;
}

.page-section-chevron {
  display: inline-flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding-bottom: 3px;
  font-size: 26px;
  font-weight: 400;
  transition: .2s;
  transform: rotateZ(90deg);
}

.page-section.collapsed .page-section-chevron {
  transform: rotateZ(270deg);
}

.page-section-body {
  animation: fadeIn .4s;
}

.page-section.collapsed .page-section-body {
  display: none;
}
