.page-section {
  display: flex;
  flex-direction: column;
  width: min(100% - 20px, 1000px);
  margin: 10px 0;
  background: #222;
}

.page-section-header {
  padding: 10px;
  background: #333;
  font-size: 20px;
  cursor: pointer;
}

.page-section-body {
  flex-grow: 1;
  background: #282828;
}

.page-section.collapsed .page-section-body {
  display: none;
}


