@use './_styles/block';

$header-height: 100px;
$footer-height-min: 100px;

header {
  display: flex;
  height: $header-height;
  align-items: center;
  justify-content: center;
  @include block.dots;
  @include block.shadow;
}

header h1 {
  padding-bottom: 8px;
  font-family: 'Jura', sans-serif;
  font-size: 42px;
  font-weight: 500;
  letter-spacing: .1em;
  user-select: none;
}

.content-area {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - ($header-height + $footer-height-min));
  align-items: center;
  padding: 10px;
  background-image: url('/assets/img/decorative/stars.jpg');
  @include block.shadow;
}

footer {
  display: flex;
  min-height: $footer-height-min;
  justify-content: center;
  @include block.dots;
  @include block.shadow;;
}
