@use './shared';

$header-height: 100px;
$footer-height-min: 100px;

@mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  @include flex-centered;
  @include shared.dots;
  @include shared.shadow;
  height: $header-height;
  h1 {
    padding-bottom: 8px;
    font-family: 'Jura', sans-serif;
    font-size: 42px;
    font-weight: 500;
    letter-spacing: .1em;
    color: shared.$color-accent;
    @include shared.mobile {
      font-size: 32px;
    }
  }
}

.content-area {
  @include shared.shadow;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - ($header-height + $footer-height-min));
  align-items: center;
  padding: 10px;
  background-image: url('../public/assets/img/decorative/stars.jpg');
}

footer {
  @include flex-centered;
  @include shared.dots;
  @include shared.shadow;
  flex-wrap: wrap;
  min-height: $footer-height-min;
}

.footer-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0 50px 0;
  gap: 15px;
  font-size: 16px;
  letter-spacing: .02em;
  &-line {
    display: flex;
    align-items: center;
    & a {
      color: inherit;
      text-decoration: none;
      transition: .2s;
      @include shared.hover {
        &:hover {
          color: shared.$color-accent;
        }
      }
    }
  }
  &-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 4px 0 7px;
    user-select: none;
  }
  &-link-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 7px;
    user-select: none;
  }
}