@use './styles/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: black;
  min-width: 320px;
  color: $text-normal;
  font-family: 'Exo 2', sans-serif;
}

::selection {
  color: $text-selection;
  background: $background-selection;
}
