@use './shared';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jura:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: lighten(shared.$color-accent, 25);
  background: darken(shared.$border-color-darker, 20);
}

html, body {
  scroll-behavior: smooth;
}

body {
  background: #000;
  min-width: 320px;
  color: shared.$color-text;
  font-family: 'Exo 2', sans-serif;
  overflow-y: scroll;
}
