// Colors

$color-text: hsl(200, 60%, 65%);
$color-accent: hsl(180, 60%, 55%);

$border-color: fade-out($color-text, .4);
$border-color-darker: fade-out($color-text, .6);

$background: hsla(200, 60%, 8%, .95);
$background-darker: hsla(200, 60%, 5%, .9);
$background-hovered: hsl(200, 60%, 13%);


// Borders & Shadow

@mixin border($thickness: 1px) {
  border: $thickness solid $border-color;
}

@mixin border-bottom-dotted {
	border-bottom: 1px dotted $border-color;
  &:last-of-type {
    border-bottom: none;
  }
}

@mixin shadow {
  box-shadow: 0 0 4px 0 $border-color inset;
}

@mixin shadow-bottom {
  box-shadow: 0 -5px 4px -4px $border-color-darker inset;
}


// Background patterns

$dot-bg: $background-darker;
$dot-color: $border-color;
$dot-size: 1px;
$dot-space: 22px;

@mixin dots {
  background:
		linear-gradient(90deg, $dot-bg calc($dot-space - $dot-size), transparent 1%) center / $dot-space $dot-space,
		linear-gradient($dot-bg calc($dot-space - $dot-size), transparent 1%) center / $dot-space $dot-space,
		$dot-color;
}


// Animations

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}


// Animated elements for collapsible blocks 

@mixin header-bottom-line {
  &-header::after {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 8px;
    width: calc(100% + 20px);
    height: 1px;
    background: linear-gradient(90deg, transparent 0%, $border-color-darker 100px, $border-color-darker calc(100% - 100px), transparent 100%);
    transition: .3s;
  }
  &.collapsed &-header::after {
    left: 50%;
    width: 0;
  }
}

@mixin chevron($size, $font-size) {
  &-chevron {
    display: inline-flex;
    width: $size;
    height: $size;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    padding-bottom: 3px;
    font-size: $font-size;
    font-weight: 400;
    user-select: none;
    transition: .2s;
    transform: rotateZ(90deg);
  }
  &.collapsed &-chevron {
    transform: rotateZ(270deg);
  }
}


// Media queries 

$breakpoint-mobile: 600px;
$breakpoint-tablet: 1200px;

@mixin hover {
  @media (hover: hover) { @content; }
}

@mixin desktop {
  @media (min-width: $breakpoint-tablet) { @content; }
}

@mixin tablet {
  @media (max-width: ($breakpoint-tablet - 1px)) { @content; }
}

@mixin mobile {
  @media (max-width: ($breakpoint-mobile - 1px)) { @content; }
}
